html {overflow-y: scroll;}

/* Use Catppuccin Latte for light mode users */
:root {
   --bgcolor: #EFF1F5; /* Latte Base */
   --fontcolor: #4C4F69; /* Latte Text */
   --linkcolor: #7287FD; /* Latte Lavender */
   --visitedcolor: #8839ef; /* Latte Mauve */
   --precolor: #4C4F69; /* Latte Text (for <code> elements) */
   --prebgcolor: #E6E9EF; /* Latte Mantle (for <code> element backgrounds) */
}

/* Use Catppuccin Mocha for dark mode users */
@media (prefers-color-scheme: dark) {
   :root {
      --bgcolor: #1E1E2E; /* Mocha Base */
      --fontcolor: #CDD6F4; /* Mocha Text */
      --linkcolor: #B4BEFE; /* Mocha Lavender */
      --visitedcolor: #CBA6F7; /* Mocha Mauve */
      --precolor: #CDD6F4; /* Mocha Text (for <code> elements) */
      --prebgcolor: #181825; /* Mocha Mantle (for <code> element backgrounds) */
   }
}

body {
   max-width: 800px;
   margin: 40px auto;
   padding: 0 10px;
   font: 16px/1.75 monospace;
   letter-spacing: 0.03em;
   color: var(--fontcolor);
   background: var(--bgcolor);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a:link {color: var(--linkcolor);}
a:visited {color: var(--visitedcolor);}
a:active {color: var(--visitedcolor);}
a:focus, button:focus {
   outline: 3px dashed var(--linkcolor);
   outline-offset: 2px;
}

/* Deal with headings by setting line height and padding
   so that they're not so bunched up in articles */
h1, h2, h3 {line-height: 1.2;}
/* Not padding h1 anymore since it added too much space at the beginning
   of articles and in theory I probably won't use H1 level headings within
   pages anyway
h1 {
    padding-top: 30px;
}
*/
h2 {
    padding-top: 25px;
}
h3 {
    padding-top: 20px;
}

p > code, code {
   color: var(--precolor);
   background: var(--prebgcolor);
   padding: 2px;
   font-family: monospace;
   text-align: left; /* Ensure <code> is never justified */
   /*
      Implement a fix for the weird font sizing issue on iOS
      See: https://nathan.rs/posts/fixing-ios-codeblocks/
   */
   text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
pre {
   color: var(--precolor);
   background: var(--prebgcolor);
   padding: 24px;
   font: 14px/1.5 monospace;
   overflow-x: auto;
   font-family: monospace;
   text-align: left; /* Ensure <pre> is never justified */
}
article {padding: 24px 0;}
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
figcaption {
   color: #A6ADC8; /* Muted color for captions */
   font: 12px/1.5 monospace;
   text-align: center;
}
figure {margin: auto;}
img {
   display: block;
   max-width: 100%;
   height: auto;
   margin: auto;
}
